<!DOCTYPE html>
<html>
<body>

<h1>this is the receptionists_homepage page</h1>


<form method="get" action="http://127.0.0.1:5000/receptionist_personalinfo">
    <button type="submit">Personal Information</button>
</form> 

<br><br>

<form method="get" action="http://127.0.0.1:5000/doctor_contact_info">
    <button type="submit">Contact Information</button>
</form> 

<br><br>

<form method="get" action="http://127.0.0.1:5000/receptionist_patients">
    <button type="submit">Patients Information</button>
</form> 


</body>
</html>